<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lz.mapper.RoleMapper">

    <!--
        根据角色ID查询角色信息
    -->
    <select id="getRoleById" parameterType="long" resultType="com.lz.bean.Role">
        SELECT
            id,
            role_name AS roleName,
            description
        FROM role
        WHERE id = #{roleId}
        LIMIT 1
    </select>

    <!--
        根据角色名称查询角色信息
    -->
    <select id="getRoleByRoleName" parameterType="string" resultType="com.lz.bean.Role">
        SELECT
            id,
            role_name AS roleName,
            description
        FROM role
        WHERE role_name = #{roleName}
        LIMIT 1
    </select>

</mapper>
